openapi: 3.0.1
info:
  title: FIWARE-NGSI v2 Specification
  description: "TODO: Add a description"
  version: "1.0"
servers:
- url: http://orion.lab.fiware.org/
paths:
  /v2:
    get:
      tags:
      - API Entry Point
      summary: Retrieve API Resources
      description: |-
        This resource does not have any attributes. Instead it offers the initial
        API affordances in the form of the links in the JSON body.
        It is recommended to follow the “url” link values,
        [Link](https://tools.ietf.org/html/rfc5988) or Location headers where
        applicable to retrieve resources. Instead of constructing your own URLs,
        to keep your client decoupled from implementation details.
      operationId: Retrieve API Resources
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveApiResourcesResponse'
              example:
                entities_url: /v2/entities
                types_url: /v2/types
                subscriptions_url: /v2/subscriptions
                registrations_url: /v2/registrations
      x-unitTests:
      - request:
          method: GET
          uri: /v2
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers:
            Content-Type: application/json
          body: "{  \"entities_url\": \"/v2/entities\",  \"types_url\": \"/v2/types\"\
            ,  \"subscriptions_url\": \"/v2/subscriptions\",  \"registrations_url\"\
            : \"/v2/registrations\"}"
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Retrieve API Resources1
        x-testDescription: |-
          This resource does not have any attributes. Instead it offers the initial
          API affordances in the form of the links in the JSON body.
          It is recommended to follow the “url” link values,
          [Link](https://tools.ietf.org/html/rfc5988) or Location headers where
          applicable to retrieve resources. Instead of constructing your own URLs,
          to keep your client decoupled from implementation details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /v2/entities:
    get:
      tags:
      - Entities
      summary: List Entities
      description: "Retrieves a list of entities that match different criteria by\
        \ id, type, pattern matching (either id or type)\nand/or those which match\
        \ a query or geographical query (see [Simple Query Language](#simple_query_language)\
        \ and \n[Geographical Queries](#geographical_queries)). A given entity has\
        \ to match all the criteria to be retrieved\n(i.e., the criteria is combined\
        \ in a logical AND way). Note that pattern matching query parameters are incompatible\n\
        (i.e. mutually exclusive) with their corresponding exact matching parameters,\
        \ i.e. `idPattern` with `id` and\n`typePattern` with `type`.\nThe response\
        \ payload is an array containing one object per matching entity. Each entity\
        \ follows\nthe JSON entity representation format (described in \"JSON Entity\
        \ Representation\" section).\nResponse code:\n* Successful operation uses\
        \ 200 OK\n* Errors use a non-2xx and (optionally) an error payload. See subsection\
        \ on \"Error Responses\" for\n  more details."
      operationId: List Entities
      parameters:
      - name: id
        in: query
        description: |-
          A comma-separated list of elements.
          Retrieve entities whose ID matches one of the elements in the list.
          Incompatible with `idPattern`.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: |-
          comma-separated list of elements.
          Retrieve entities whose type matches one of the elements in the list.
          Incompatible with `typePattern`.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: idPattern
        in: query
        description: |-
          A correctly formated regular expression.
          Retrieve entities whose ID matches the regular expression. Incompatible with `id`.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: typePattern
        in: query
        description: |-
          A correctly formated regular expression.
          Retrieve entities whose type matches the regular expression. Incompatible with `type`.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: q
        in: query
        description: |-
          A query expression, composed of a list of statements
          separated by `;`, i.e., q=statement1;statement2;statement3.
          See [Simple Query Language specification](#simple_query_language).
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: mq
        in: query
        description: |-
          A query expression for attribute metadata,
          composed of a list of statements separated by `;`, i.e., mq=statement1;statement2;statement3.
          See [Simple Query Language specification](#simple_query_language).
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: georel
        in: query
        description: |-
          Spatial relationship between matching entities and a
          reference shape. See [Geographical Queries](#geographical_queries).
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: geometry
        in: query
        description: |-
          Geografical area to which the query is restricted.
          See [Geographical Queries](#geographical_queries).
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: coords
        in: query
        description: |-
          List of latitude-longitude
          pairs of coordinates separated by ';'. See [Geographical Queries](#geographical_queries).
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the number of entities to be retrieved
        required: false
        style: form
        explode: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          format: double
      - name: offset
        in: query
        description: Establishes the offset from where entities are retrieved
        required: false
        style: form
        explode: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          format: double
      - name: attrs
        in: query
        description: |-
          Comma-separated list of attribute names whose data
          are to be included in the response.
          The attributes are retrieved in the order specified by this parameter. If this parameter is
          not included, the attributes are retrieved in arbitrary order.
          See "Filtering out attributes and metadata" section for more detail.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: metadata
        in: query
        description: |-
          A list of metadata names to include in the response.
          See "Filtering out attributes and metadata" section for more detail.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orderBy
        in: query
        description: |-
          Criteria for ordering results.
          See "Ordering Results" section for details.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: options
        in: query
        description: Options dictionary
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - count
          - keyValues
          - values
          - unique
          x-enum-elements:
          - name: count
            description: ""
          - name: keyValues
            description: ""
          - name: values
            description: ""
          - name: unique
            description: ""
        x-enum-elements:
        - name: count
          description: ""
        - name: keyValues
          description: ""
        - name: values
          description: ""
        - name: unique
          description: ""
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListEntitiesResponse'
                x-content-type: application/json
              example:
              - type: Room
                id: DC_S1-D41
                temperature:
                  value: 35.6
                  type: Number
                  metadata: {}
              - type: Room
                id: Boe-Idearium
                temperature:
                  value: 22.5
                  type: Number
                  metadata: {}
              - type: Car
                id: P-9873-K
                speed:
                  value: 100
                  type: number
                  metadata:
                    accuracy:
                      value: 2
                      type: Number
                    timestamp:
                      value: 2015-06-04T07:20:27.378Z
                      type: DateTime
      x-unitTests:
      - request:
          method: GET
          uri: "/v2/entities?id=Boe_Idearium&type=Room&idPattern=Bode_.*&typePattern=Room_.*&q=temperature>40&mq=temperature.accuracy<0.9&georel=near&geometry=point&coords=41.390205,2.154007;48.8566,2.3522&limit=20&offset=20&attrs=seatNumber&metadata=accuracy&orderBy=temperature,!speed"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers:
            Content-Type: application/json
          body: "[ {   \"type\": \"Room\",   \"id\": \"DC_S1-D41\",   \"temperature\"\
            : {     \"value\": 35.6,     \"type\": \"Number\",     \"metadata\": {}\
            \   } }, {   \"type\": \"Room\",   \"id\": \"Boe-Idearium\",   \"temperature\"\
            : {     \"value\": 22.5,     \"type\": \"Number\",     \"metadata\": {}\
            \   } }, {   \"type\": \"Car\",   \"id\": \"P-9873-K\",   \"speed\": {\
            \     \"value\": 100,     \"type\": \"number\",     \"metadata\": {  \
            \     \"accuracy\": {         \"value\": 2,         \"type\": \"Number\"\
            \       },       \"timestamp\": {         \"value\": \"2015-06-04T07:20:27.378Z\"\
            ,         \"type\": \"DateTime\"       }     }   } }]"
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: List Entities1
        x-testDescription: "Retrieves a list of entities that match different criteria\
          \ by id, type, pattern matching (either id or type)\nand/or those which\
          \ match a query or geographical query (see [Simple Query Language](#simple_query_language)\
          \ and \n[Geographical Queries](#geographical_queries)). A given entity has\
          \ to match all the criteria to be retrieved\n(i.e., the criteria is combined\
          \ in a logical AND way). Note that pattern matching query parameters are\
          \ incompatible\n(i.e. mutually exclusive) with their corresponding exact\
          \ matching parameters, i.e. `idPattern` with `id` and\n`typePattern` with\
          \ `type`.\nThe response payload is an array containing one object per matching\
          \ entity. Each entity follows\nthe JSON entity representation format (described\
          \ in \"JSON Entity Representation\" section).\nResponse code:\n* Successful\
          \ operation uses 200 OK\n* Errors use a non-2xx and (optionally) an error\
          \ payload. See subsection on \"Error Responses\" for\n  more details."
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
      - Entities
      summary: Create Entity
      description: |-
        The payload is an object representing the entity to be created. The object follows
        the JSON entity representation format (described in a "JSON Entity Representation" section).
        Response:
        * Successful operation uses 201 Created (if upsert option is not used) or 204 No Content (if
          upsert option is used). Response includes a `Location` header with the URL of the
          created entity.
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Create Entity
      parameters:
      - name: Content-Type
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: options
        in: query
        description: Options dictionary
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - keyValues
          - upsert
          x-enum-elements:
          - name: keyValues
            description: ""
          - name: upsert
            description: ""
        x-enum-elements:
        - name: keyValues
          description: ""
        - name: upsert
          description: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntityRequest'
        required: true
      responses:
        "204":
          description: ""
          content: {}
      x-unitTests:
      - request:
          method: POST
          uri: /v2/entities
          headers:
            Content-Type: application/json
          body: "{  \"type\": \"Room\",  \"id\": \"Bcn-Welt\",  \"temperature\": {\
            \    \"value\": 21.7  },  \"humidity\": {    \"value\": 60  },  \"location\"\
            : {    \"value\": \"41.3763726, 2.1864475\",    \"type\": \"geo:point\"\
            ,    \"metadata\": {      \"crs\": {        \"value\": \"WGS84\"     \
            \ }    }  }}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers:
            Location: /v2/entities/Bcn-Welt?type=Room
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Create Entity1
        x-testDescription: |-
          The payload is an object representing the entity to be created. The object follows
          the JSON entity representation format (described in a "JSON Entity Representation" section).
          Response:
          * Successful operation uses 201 Created (if upsert option is not used) or 204 No Content (if
            upsert option is used). Response includes a `Location` header with the URL of the
            created entity.
          * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
            more details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-codegen-request-body-name: body
  /v2/entities/{entityId}:
    get:
      tags:
      - Entities
      summary: Retrieve Entity
      description: |-
        The response is an object representing the entity identified by the ID. The object follows
        the JSON entity representation format (described in "JSON Entity Representation" section).
        This operation must return one entity element only, but there may be more than one entity with the
        same ID (e.g. entities with same ID but different types).
        In such case, an error message is returned, with the HTTP status code set to 409 Conflict.
        Response:
        * Successful operation uses 200 OK
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for more details.
      operationId: Retrieve Entity
      parameters:
      - name: entityId
        in: path
        description: Id of the entity to be retrieved
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        description: |-
          Entity type, to avoid ambiguity in case there are several
          entities with the same entity id.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: attrs
        in: query
        description: |-
          Comma-separated list of attribute names whose
          data must be included in the response. The attributes are retrieved in the order specified by
          this parameter. See "Filtering out attributes and metadata" section for more detail.
          If this parameter is not included, the attributes are retrieved in arbitrary order, and all
          the attributes of the entity are included in the response.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: metadata
        in: query
        description: |-
          A list of metadata names to include in the response.
          See "Filtering out attributes and metadata" section for more detail.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: options
        in: query
        description: Options dictionary
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - keyValues
          - values
          - unique
          x-enum-elements:
          - name: keyValues
            description: ""
          - name: values
            description: ""
          - name: unique
            description: ""
        x-enum-elements:
        - name: keyValues
          description: ""
        - name: values
          description: ""
        - name: unique
          description: ""
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveEntityResponse'
              example:
                type: Room
                id: Bcn_Welt
                temperature:
                  value: 21.7
                  type: Number
                humidity:
                  value: 60
                  type: Number
                location:
                  value: "41.3763726, 2.1864475"
                  type: geo:point
                  metadata:
                    crs:
                      value: WGS84
                      type: Text
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
      - Entities
      summary: Remove Entity
      description: |-
        Delete the entity.
        Response:
        * Successful operation uses 204 No Content
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Remove Entity
      parameters:
      - name: entityId
        in: path
        description: Id of the entity to be deleted
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        description: |-
          Entity type, to avoid ambiguity in case there are several
          entities with the same entity id.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: ""
          content: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /v2/entities/{entityId}/attrs:
    get:
      tags:
      - Entities
      summary: Retrieve Entity Attributes
      description: |-
        This request is similar to retreiving the whole entity, however this one omits the `id` and `type`
        fields.
        Just like the general request of getting an entire entity, this operation must return only one
        entity element. If more than one entity with the same ID is found (e.g. entities with
        same ID but different type), an error message is returned, with the HTTP status code set to
        409 Conflict.
        Response:
        * Successful operation uses 200 OK
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Retrieve Entity Attributes
      parameters:
      - name: entityId
        in: path
        description: Id of the entity to be retrieved
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        description: |-
          Entity type, to avoid ambiguity in case there are several
          entities with the same entity id.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: attrs
        in: query
        description: |-
          Comma-separated list of attribute names whose
          data are to be included in the response. The attributes are retrieved in the order specified
          by this parameter.
          If this parameter is not included, the attributes are retrieved in arbitrary order, and all
          the attributes of the entity are included in the response.
          See "Filtering out attributes and metadata" section for more detail.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: metadata
        in: query
        description: |-
          A list of metadata names to include in the response.
          See "Filtering out attributes and metadata" section for more detail.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: options
        in: query
        description: Options dictionary
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - keyValues
          - values
          - unique
          x-enum-elements:
          - name: keyValues
            description: ""
          - name: values
            description: ""
          - name: unique
            description: ""
        x-enum-elements:
        - name: keyValues
          description: ""
        - name: values
          description: ""
        - name: unique
          description: ""
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveEntityAttributesResponse'
              example:
                temperature:
                  value: 21.7
                  type: Number
                humidity:
                  value: 60
                  type: Number
                location:
                  value: "41.3763726, 2.1864475"
                  type: geo:point
                  metadata:
                    crs:
                      value: WGS84
                      type: Text
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    put:
      tags:
      - Entities
      summary: Replace all entity attributes
      description: |-
        The request payload is an object representing the new entity attributes. The object follows
        the JSON entity representation format (described in a "JSON Entity Representation" above), except
        that `id` and `type` are not allowed.
        The attributes previously existing in the entity are removed and replaced by the ones in the
        request.
        Response:
        * Successful operation uses 204 No Content
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Replace all entity attributes
      parameters:
      - name: entityId
        in: path
        description: Id of the entity in question.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        description: |-
          Entity type, to avoid ambiguity in case there are several
          entities with the same entity id.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: options
        in: query
        description: Operations options
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - keyValues
          x-enum-elements:
          - name: keyValues
            description: ""
        x-enum-elements:
        - name: keyValues
          description: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceAllEntityAttributesRequest'
        required: true
      responses:
        "204":
          description: ""
          content: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-codegen-request-body-name: body
    post:
      tags:
      - Entities
      summary: Update or Append Entity Attributes
      description: |-
        The request payload is an object representing the attributes to append or update. The object follows
        the JSON entity representation format (described in "JSON Entity Representation" section), except
        that `id` and `type` are not allowed.
        The entity attributes are updated with the ones in the payload, depending on
        whether the `append` operation option is used or not.
        * If `append` is not used: the entity attributes are updated (if they previously exist) or appended
          (if they don't previously exist) with the ones in the payload.
        * If `append` is used (i.e. strict append semantics): all the attributes in the payload not
          previously existing in the entity are appended. In addition to that, in case some of the
          attributes in the payload already exist in the entity, an error is returned.
        Response:
        * Successful operation uses 204 No Content
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Update or Append Entity Attributes
      parameters:
      - name: entityId
        in: path
        description: Entity id to be updated
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        description: |-
          Entity type, to avoid ambiguity in case there are several
          entities with the same entity id.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: options
        in: query
        description: Operations options
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - append
          - keyValues
          x-enum-elements:
          - name: append
            description: ""
          - name: keyValues
            description: ""
        x-enum-elements:
        - name: append
          description: ""
        - name: keyValues
          description: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrAppendEntityAttributesRequest'
        required: true
      responses:
        "204":
          description: ""
          content: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-codegen-request-body-name: body
    patch:
      tags:
      - Entities
      summary: Update Existing Entity Attributes
      description: |-
        The request payload is an object representing the attributes to update. The object follows
        the JSON entity representation format (described in "JSON Entity Representation" section), except
        that `id` and `type` are not allowed.
        The entity attributes are updated with the ones in the payload. In addition to that, if one or more
        attributes in the payload doesn't exist in the entity, an error is returned.
        Response:
        * Successful operation uses 204 No Content
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Update Existing Entity Attributes
      parameters:
      - name: entityId
        in: path
        description: Id of the entity to be updated
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        description: |-
          Entity type, to avoid ambiguity in case there are several
          entities with the same entity id.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: options
        in: query
        description: Operations options
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - keyValues
          x-enum-elements:
          - name: keyValues
            description: ""
        x-enum-elements:
        - name: keyValues
          description: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExistingEntityAttributesRequest'
        required: true
      responses:
        "204":
          description: ""
          content: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-codegen-request-body-name: body
  /v2/entities/{entityId}/attrs/{attrName}:
    get:
      tags:
      - Attributes
      summary: Get attribute data
      description: |-
        Returns a JSON object with the attribute data of the attribute. The object follows the JSON
        representation for attributes (described in "JSON Attribute Representation" section).
        Response:
        * Successful operation uses 200 OK.
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Get attribute data
      parameters:
      - name: entityId
        in: path
        description: Id of the entity
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: attrName
        in: path
        description: Name of the attribute to be retrieved.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        description: |-
          Entity type, to avoid ambiguity in case there are several
          entities with the same entity id.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: metadata
        in: query
        description: |-
          A list of metadata names to include in the response.
          See "Filtering out attributes and metadata" section for more detail.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAttributeDataResponse'
              example:
                value: 21.7
                type: Number
                metadata: {}
      x-unitTests:
      - request:
          method: GET
          uri: /v2/entities/Bcn_Welt/attrs/temperature?metadata=accuracy
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers:
            Content-Type: application/json
          body: "{  \"value\": 21.7,  \"type\": \"Number\",  \"metadata\": {}}"
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Get attribute data1
        x-testDescription: |-
          Returns a JSON object with the attribute data of the attribute. The object follows the JSON
          representation for attributes (described in "JSON Attribute Representation" section).
          Response:
          * Successful operation uses 200 OK.
          * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
            more details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    put:
      tags:
      - Attributes
      summary: Update Attribute Data
      description: |-
        The request payload is an object representing the new attribute data. Previous attribute data
        is replaced by the one in the request. The object follows the JSON representation for attributes
        (described in "JSON Attribute Representation" section).
        Response:
        * Successful operation uses 204 No Content
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Update Attribute Data
      parameters:
      - name: entityId
        in: path
        description: Id of the entity to update
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: attrName
        in: path
        description: Attribute name
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        description: |-
          Entity type, to avoid ambiguity in case there are several
          entities with the same entity id.
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAttributeDataRequest'
        required: true
      responses:
        "200":
          description: ""
          content: {}
      x-unitTests:
      - request:
          method: PUT
          uri: /v2/entities/Bcn_Welt/attrs/temperature
          headers:
            Content-Type: application/json
          body: "{  \"value\": 25.0,  \"metadata\": {    \"unitCode\": {      \"value\"\
            : \"CEL\"    }  }}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Update Attribute Data1
        x-testDescription: |-
          The request payload is an object representing the new attribute data. Previous attribute data
          is replaced by the one in the request. The object follows the JSON representation for attributes
          (described in "JSON Attribute Representation" section).
          Response:
          * Successful operation uses 204 No Content
          * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
            more details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-codegen-request-body-name: body
    delete:
      tags:
      - Attributes
      summary: Remove a Single Attribute
      description: |-
        Removes an entity attribute.
        Response:
        * Successful operation uses 204 No Content
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Remove a Single Attribute
      parameters:
      - name: entityId
        in: path
        description: Id of the entity.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: attrName
        in: path
        description: Attribute name.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        description: |-
          Entity type, to avoid ambiguity in case there are several
          entities with the same entity id.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: ""
          content: {}
      x-unitTests:
      - request:
          method: DELETE
          uri: /v2/entities/Bcn_Welt/attrs/temperature
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Remove a Single Attribute1
        x-testDescription: |-
          Removes an entity attribute.
          Response:
          * Successful operation uses 204 No Content
          * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
            more details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /v2/entities/{entityId}/attrs/{attrName}/value:
    get:
      tags:
      - Attribute Value
      summary: Get Attribute Value
      description: |-
        This operation returns the `value` property with the value of the attribute.
        * If attribute value is JSON Array or Object:
          * If `Accept` header can be expanded to `application/json` or `text/plain` return the value as a JSON with a
            response type of application/json or text/plain (whichever is the first in `Accept` header or
            `application/json` in case of `Accept: */*`).
          * Else return a HTTP error "406 Not Acceptable: accepted MIME types: application/json, text/plain"
        * If attribute value is a string, number, null or boolean:
          * If `Accept` header can be expanded to text/plain return the value as text. In case of a string, citation
            marks are used at the begining and end.
          * Else return a HTTP error "406 Not Acceptable: accepted MIME types: text/plain"
        Response:
        * Successful operation uses 200 OK.
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Get Attribute Value
      parameters:
      - name: entityId
        in: path
        description: Id of the entity in question
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: attrName
        in: path
        description: Name of the attribute to be retrieved.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        description: |-
          Entity type, to avoid ambiguity in case there are several
          entities with the same entity id.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAttributeValueResponse'
              example:
                address: Ronda de la Comunicacion s/n
                zipCode: 28050
                city: Madrid
                country: Spain
      x-unitTests:
      - request:
          method: GET
          uri: /v2/entities/Bcn_Welt/attrs/address/value
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers:
            Content-Type: application/json
          body: "{  \"address\": \"Ronda de la Comunicacion s/n\",  \"zipCode\": 28050,\
            \  \"city\": \"Madrid\",  \"country\": \"Spain\"}"
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Get Attribute Value1
        x-testDescription: |-
          This operation returns the `value` property with the value of the attribute.
          * If attribute value is JSON Array or Object:
            * If `Accept` header can be expanded to `application/json` or `text/plain` return the value as a JSON with a
              response type of application/json or text/plain (whichever is the first in `Accept` header or
              `application/json` in case of `Accept: */*`).
            * Else return a HTTP error "406 Not Acceptable: accepted MIME types: application/json, text/plain"
          * If attribute value is a string, number, null or boolean:
            * If `Accept` header can be expanded to text/plain return the value as text. In case of a string, citation
              marks are used at the begining and end.
            * Else return a HTTP error "406 Not Acceptable: accepted MIME types: text/plain"
          Response:
          * Successful operation uses 200 OK.
          * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
            more details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    put:
      tags:
      - Attribute Value
      summary: Update Attribute Value
      description: |-
        The request payload is the new attribute value.
        * If the request payload MIME type is `application/json`, then the value of the attribute is set to
          the JSON object or array coded in the payload (if the payload is not a valid JSON document,
          then an error is returned).
        * If the request payload MIME type is `text/plain`, then the following algorithm is applied to the
          payload:
          * If the payload starts and ends with citation-marks (`"`), the value is taken as a string
            (the citation marks themselves are not considered part of the string)
          * If `true` or `false`, the value is taken as a boolean.
          * If `null`, the value is taken as null.
          * If these first three tests 'fail', the text is interpreted as a number.
          * If not a valid number, then an error is returned and the attribute's value is unchanged.
        The payload MIME type in the request is specified in the `Content-Type` HTTP header.
        Response:
        * Successful operation uses 204 No Content
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Update Attribute Value
      parameters:
      - name: entityId
        in: path
        description: Id of the entity to be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: attrName
        in: path
        description: Attribute name.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        description: |-
          Entity type, to avoid ambiguity in case there are several
          entities with the same entity id.
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAttributeValueRequest'
        required: true
      responses:
        "200":
          description: ""
          content: {}
      x-unitTests:
      - request:
          method: PUT
          uri: /v2/entities/Bcn_Welt/attrs/address/value
          headers:
            Content-Type: application/json
          body: "{  \"address\": \"Ronda de la Comunicacion s/n\",  \"zipCode\": 28050,\
            \  \"city\": \"Madrid\",  \"country\": \"Spain\"}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Update Attribute Value1
        x-testDescription: |-
          The request payload is the new attribute value.
          * If the request payload MIME type is `application/json`, then the value of the attribute is set to
            the JSON object or array coded in the payload (if the payload is not a valid JSON document,
            then an error is returned).
          * If the request payload MIME type is `text/plain`, then the following algorithm is applied to the
            payload:
            * If the payload starts and ends with citation-marks (`"`), the value is taken as a string
              (the citation marks themselves are not considered part of the string)
            * If `true` or `false`, the value is taken as a boolean.
            * If `null`, the value is taken as null.
            * If these first three tests 'fail', the text is interpreted as a number.
            * If not a valid number, then an error is returned and the attribute's value is unchanged.
          The payload MIME type in the request is specified in the `Content-Type` HTTP header.
          Response:
          * Successful operation uses 204 No Content
          * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
            more details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-codegen-request-body-name: body
  /v2/types/:
    get:
      tags:
      - Types
      summary: List Entity Types
      description: |-
        If the `values` option is not in use, this operation returns a JSON array with the entity types.
        Each element is a JSON object with information about the type:
        * `type` : the entity type name.
        * `attrs` : the set of attribute names along with all the entities of such type, represented in
          a JSON object whose keys are the attribute names and whose values contain information of such
          attributes (in particular a list of the types used by attributes with that name along with all the
          entities).
        * `count` : the number of entities belonging to that type.
        If the `values` option is used, the operation returns a JSON array with a list of entity type
        names as strings.
        Results are ordered by entity `type` in alphabetical order.
        Response code:
        * Successful operation uses 200 OK
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: List Entity Types
      parameters:
      - name: limit
        in: query
        description: Limit the number of types to be retrieved.
        required: false
        style: form
        explode: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          format: double
      - name: offset
        in: query
        description: Skip a number of records.
        required: false
        style: form
        explode: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          format: double
      - name: options
        in: query
        description: Options dictionary.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - count
          - values
          x-enum-elements:
          - name: count
            description: ""
          - name: values
            description: ""
        x-enum-elements:
        - name: count
          description: ""
        - name: values
          description: ""
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListEntityTypesResponse'
                x-content-type: application/json
              example:
              - type: Car
                attrs:
                  speed:
                    types:
                    - Number
                  fuel:
                    types:
                    - gasoline
                    - diesel
                  temperature:
                    types:
                    - urn:phenomenum:temperature
                count: 12
              - type: Room
                attrs:
                  pressure:
                    types:
                    - Number
                  humidity:
                    types:
                    - percentage
                  temperature:
                    types:
                    - urn:phenomenum:temperature
                count: 7
      x-unitTests:
      - request:
          method: GET
          uri: /v2/types/?limit=10&offset=20
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers:
            Content-Type: application/json
          body: "[  {    \"type\": \"Car\",    \"attrs\": {      \"speed\": {    \
            \    \"types\": [ \"Number\" ]      },      \"fuel\": {        \"types\"\
            : [ \"gasoline\", \"diesel\" ]      },      \"temperature\": {       \
            \ \"types\": [ \"urn:phenomenum:temperature\" ]      }    },    \"count\"\
            : 12  },  {    \"type\": \"Room\",    \"attrs\": {      \"pressure\":\
            \ {        \"types\": [ \"Number\" ]      },      \"humidity\": {    \
            \    \"types\": [ \"percentage\" ]      },      \"temperature\": {   \
            \     \"types\": [ \"urn:phenomenum:temperature\" ]      }    },    \"\
            count\": 7  }]"
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: List Entity Types1
        x-testDescription: |-
          If the `values` option is not in use, this operation returns a JSON array with the entity types.
          Each element is a JSON object with information about the type:
          * `type` : the entity type name.
          * `attrs` : the set of attribute names along with all the entities of such type, represented in
            a JSON object whose keys are the attribute names and whose values contain information of such
            attributes (in particular a list of the types used by attributes with that name along with all the
            entities).
          * `count` : the number of entities belonging to that type.
          If the `values` option is used, the operation returns a JSON array with a list of entity type
          names as strings.
          Results are ordered by entity `type` in alphabetical order.
          Response code:
          * Successful operation uses 200 OK
          * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
            more details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /v2/types/{entityType}:
    get:
      tags:
      - Types
      summary: Retrieve entity type
      description: |-
        This operation returns a JSON object with information about the type:
        * `attrs` : the set of attribute names along with all the entities of such type, represented in
          a JSON object whose keys are the attribute names and whose values contain information of such
          attributes (in particular a list of the types used by attributes with that name along with all the
          entities).
        * `count` : the number of entities belonging to that type.
        Response code:
        * Successful operation uses 200 OK
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Retrieve entity type
      parameters:
      - name: entityType
        in: path
        description: Entity Type
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveEntityTypeResponse'
              example:
                attrs:
                  pressure:
                    types:
                    - Number
                  humidity:
                    types:
                    - percentage
                  temperature:
                    types:
                    - urn:phenomenum:temperature
                count: 7
      x-unitTests:
      - request:
          method: GET
          uri: /v2/types/Room
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers:
            Content-Type: application/json
          body: "  {    \"attrs\": {      \"pressure\": {        \"types\": [ \"Number\"\
            \ ]      },      \"humidity\": {        \"types\": [ \"percentage\" ]\
            \      },      \"temperature\": {        \"types\": [ \"urn:phenomenum:temperature\"\
            \ ]      }    },    \"count\": 7  }"
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Retrieve entity type1
        x-testDescription: |-
          This operation returns a JSON object with information about the type:
          * `attrs` : the set of attribute names along with all the entities of such type, represented in
            a JSON object whose keys are the attribute names and whose values contain information of such
            attributes (in particular a list of the types used by attributes with that name along with all the
            entities).
          * `count` : the number of entities belonging to that type.
          Response code:
          * Successful operation uses 200 OK
          * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
            more details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /v2/subscriptions:
    get:
      tags:
      - Subscriptions
      summary: List Subscriptions
      description: |-
        Returns a list of all the subscriptions present in the system.
        Response:
        * Successful operation uses 200 OK
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: List Subscriptions
      parameters:
      - name: limit
        in: query
        description: Limit the number of subscriptions to be retrieved
        required: false
        style: form
        explode: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          format: double
      - name: offset
        in: query
        description: Skip a number of subscriptions
        required: false
        style: form
        explode: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          format: double
      - name: options
        in: query
        description: Options dictionary
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - count
          x-enum-elements:
          - name: count
            description: ""
        x-enum-elements:
        - name: count
          description: ""
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListSubscriptionsResponse'
                x-content-type: application/json
              example:
              - id: abcdefg
                description: One subscription to rule them all
                subject:
                  entities:
                  - id: Bcn_Welt
                    type: Room
                  condition:
                    attrs:
                    - 'temperature '
                    expression:
                      q: temperature>40
                notification:
                  httpCustom:
                    url: http://localhost:1234
                    headers:
                      X-MyHeader: foo
                    qs:
                      authToken: bar
                  attrsFormat: keyValues
                  attrs:
                  - temperature
                  - humidity
                  timesSent: 12
                  lastNotification: 2015-10-05T16:00:00Z
                  lastFailure: 2015-10-06T16:00:00Z
                expires: 2016-04-05T14:00:00Z
                status: failed
                throttling: 5
      x-unitTests:
      - request:
          method: GET
          uri: /v2/subscriptions?limit=10&offset=20
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: "[  {    \"id\": \"abcdefg\",    \"description\": \"One subscription\
            \ to rule them all\",    \"subject\": {                          \"entities\"\
            : [        {          \"id\": \"Bcn_Welt\",          \"type\": \"Room\"\
            \        }      ],      \"condition\": {         \"attrs\": [ \"temperature\
            \ \" ],         \"expression\": {            \"q\": \"temperature>40\"\
            \         }      }    },    \"notification\": {      \"httpCustom\": {\
            \        \"url\": \"http://localhost:1234\",        \"headers\": {   \
            \       \"X-MyHeader\": \"foo\"        },        \"qs\": {          \"\
            authToken\": \"bar\"        }      },      \"attrsFormat\": \"keyValues\"\
            ,      \"attrs\": [\"temperature\", \"humidity\"],      \"timesSent\"\
            : 12,      \"lastNotification\": \"2015-10-05T16:00:00.00Z\",      \"\
            lastFailure\": \"2015-10-06T16:00:00.00Z\"    },    \"expires\": \"2016-04-05T14:00:00.00Z\"\
            ,    \"status\": \"failed\",    \"throttling\": 5  }]"
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: List Subscriptions1
        x-testDescription: |-
          Returns a list of all the subscriptions present in the system.
          Response:
          * Successful operation uses 200 OK
          * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
            more details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
      - Subscriptions
      summary: Create Subscription
      description: |-
        Creates a new subscription.
        The subscription is represented by a JSON object as described at the beginning of this section.
        Response:
        * Successful operation uses 201 Created
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Create Subscription
      parameters:
      - name: Content-Type
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionRequest'
        required: true
      responses:
        "201":
          description: ""
          content: {}
      x-unitTests:
      - request:
          method: POST
          uri: /v2/subscriptions
          headers:
            Content-Type: application/json
          body: "{  \"description\": \"One subscription to rule them all\",  \"subject\"\
            : {    \"entities\": [      {        \"idPattern\": \".*\",        \"\
            type\": \"Room\"      }    ],    \"condition\": {      \"attrs\": [ \"\
            temperature\" ],      \"expression\": {        \"q\": \"temperature>40\"\
            \      }    }  },  \"notification\": {    \"http\": {      \"url\": \"\
            http://localhost:1234\"    },    \"attrs\": [\"temperature\", \"humidity\"\
            ]  },              \"expires\": \"2016-04-05T14:00:00.00Z\",  \"throttling\"\
            : 5}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers:
            Location: /v2/subscriptions/abcde98765
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Create Subscription1
        x-testDescription: |-
          Creates a new subscription.
          The subscription is represented by a JSON object as described at the beginning of this section.
          Response:
          * Successful operation uses 201 Created
          * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
            more details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-codegen-request-body-name: body
  /v2/subscriptions/{subscriptionId}:
    get:
      tags:
      - Subscriptions
      summary: Retrieve Subscription
      description: |-
        The response is the subscription represented by a JSON object as described at the beginning of this
        section.
        Response:
        * Successful operation uses 200 OK
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Retrieve Subscription
      parameters:
      - name: subscriptionId
        in: path
        description: subscription Id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
      - Subscriptions
      summary: Delete subscription
      description: |-
        Cancels subscription.
        Response:
        * Successful operation uses 204 No Content
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Delete subscription
      parameters:
      - name: subscriptionId
        in: path
        description: subscription Id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: ""
          content: {}
      x-unitTests:
      - request:
          method: DELETE
          uri: /v2/subscriptions/abcdef
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Delete subscription1
        x-testDescription: |-
          Cancels subscription.
          Response:
          * Successful operation uses 204 No Content
          * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
            more details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    patch:
      tags:
      - Subscriptions
      summary: Update Subscription
      description: |-
        Only the fields included in the request are updated in the subscription.
        Response:
        * Successful operation uses 204 No Content
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Update Subscription
      parameters:
      - name: subscriptionId
        in: path
        description: subscription Id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionRequest'
        required: true
      responses:
        "204":
          description: ""
          content: {}
      x-unitTests:
      - request:
          method: PATCH
          uri: /v2/subscriptions/abcdef
          headers:
            Content-Type: application/json
          body: "{  \"expires\": \"2016-04-05T14:00:00.00Z\"}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Update Subscription1
        x-testDescription: |-
          Only the fields included in the request are updated in the subscription.
          Response:
          * Successful operation uses 204 No Content
          * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
            more details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-codegen-request-body-name: body
  /v2/registrations:
    get:
      tags:
      - Registrations
      summary: List Registrations
      description: Lists all the context provider registrations present in the system.
      operationId: List Registrations
      parameters:
      - name: limit
        in: query
        description: Limit the number of registrations to be retrieved
        required: false
        style: form
        explode: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          format: double
      - name: offset
        in: query
        description: Skip a number of registrations
        required: false
        style: form
        explode: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          format: double
      - name: options
        in: query
        description: Options dictionary
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - count
          x-enum-elements:
          - name: count
            description: ""
        x-enum-elements:
        - name: count
          description: ""
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListRegistrationsResponse'
                x-content-type: application/json
              example:
              - id: abcdefg
                description: Example Context Source
                dataProvided:
                  entities:
                  - id: Bcn_Welt
                    type: Room
                  attrs:
                  - temperature
                provider:
                  http:
                    url: http://contextsource.example.org
                  supportedForwardingMode: all
                expires: 2017-10-31T12:00:00
                status: active
                forwardingInformation:
                  timesSent: 12
                  lastForwarding: 2017-10-06T16:00:00Z
                  lastSuccess: 2017-10-06T16:00:00Z
                  lastFailure: 2017-10-05T16:00:00Z
      x-unitTests:
      - request:
          method: GET
          uri: /v2/registrations?limit=10&offset=20
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: "[  {    \"id\": \"abcdefg\",    \"description\": \"Example Context\
            \ Source\",    \"dataProvided\": {      \"entities\": [        {     \
            \     \"id\": \"Bcn_Welt\",          \"type\": \"Room\"        }     \
            \ ],      \"attrs\": [        \"temperature\"      ]    },    \"provider\"\
            : {      \"http\": {        \"url\": \"http://contextsource.example.org\"\
            \      },      \"supportedForwardingMode\": \"all\"    },    \"expires\"\
            : \"2017-10-31T12:00:00\",    \"status\": \"active\",    \"forwardingInformation\"\
            : {      \"timesSent\": 12,      \"lastForwarding\": \"2017-10-06T16:00:00.00Z\"\
            ,      \"lastSuccess\": \"2017-10-06T16:00:00.00Z\",      \"lastFailure\"\
            : \"2017-10-05T16:00:00.00Z\"    }  }]"
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: List Registrations1
        x-testDescription: Lists all the context provider registrations present in
          the system.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
      - Registrations
      summary: Create Registration
      description: |-
        Creates a new context provider registration. This is typically used for binding context sources
        as providers of certain data.
        The registration is represented by a JSON object as described at the beginning of this section.
        Response:
        * Successful operation uses 201 Created
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Create Registration
      parameters:
      - name: Content-Type
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRegistrationRequest'
        required: true
      responses:
        "201":
          description: ""
          content: {}
      x-unitTests:
      - request:
          method: POST
          uri: /v2/registrations
          headers:
            Content-Type: application/json
          body: "{  \"description\": \"Relative Humidity Context Source\",  \"dataProvided\"\
            : {    \"entities\": [      {        \"id\": \"room2\",        \"type\"\
            : \"Room\"      }    ],    \"attrs\": [      \"relativeHumidity\"    ]\
            \  },  \"provider\": {    \"http\":{       \"url\": \"http://localhost:1234\"\
            \    }  }}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers:
            Location: /v2/registrations/abcde98765
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Create Registration1
        x-testDescription: |-
          Creates a new context provider registration. This is typically used for binding context sources
          as providers of certain data.
          The registration is represented by a JSON object as described at the beginning of this section.
          Response:
          * Successful operation uses 201 Created
          * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
            more details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-codegen-request-body-name: body
  /v2/registrations/{registrationId}:
    get:
      tags:
      - Registrations
      summary: Retrieve Registration
      description: |-
        The response is the registration represented by a JSON object as described at the beginning of this
        section.
        Response:
        * Successful operation uses 200 OK
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Retrieve Registration
      parameters:
      - name: registrationId
        in: path
        description: registration Id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveRegistrationResponse'
              example:
                id: abcdefg
                description: Example Context Source
                dataProvided:
                  entities:
                  - id: Bcn_Welt
                    type: Room
                  attrs:
                  - temperature
                provider:
                  http:
                    url: http://contextsource.example.org
                  supportedForwardingMode: all
                expires: 2017-10-31T12:00:00
                status: failed
                forwardingInformation:
                  timesSent: 12
                  lastForwarding: 2017-10-06T16:00:00Z
                  lastFailure: 2017-10-06T16:00:00Z
                  lastSuccess: 2017-10-05T18:25:00Z
      x-unitTests:
      - request:
          method: GET
          uri: /v2/registrations/abcdef
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers:
            Content-Type: application/json
          body: "  {        \"id\": \"abcdefg\",        \"description\": \"Example\
            \ Context Source\",        \"dataProvided\": {          \"entities\":\
            \ [            {              \"id\": \"Bcn_Welt\",              \"type\"\
            : \"Room\"            }          ],          \"attrs\": [            \"\
            temperature\"          ]        },        \"provider\": {          \"\
            http\": {            \"url\": \"http://contextsource.example.org\"   \
            \       },          \"supportedForwardingMode\": \"all\"        },   \
            \     \"expires\": \"2017-10-31T12:00:00\",        \"status\": \"failed\"\
            ,        \"forwardingInformation\": {          \"timesSent\": 12,    \
            \      \"lastForwarding\": \"2017-10-06T16:00:00.00Z\",          \"lastFailure\"\
            : \"2017-10-06T16:00:00.00Z\",          \"lastSuccess\": \"2017-10-05T18:25:00.00Z\"\
            ,        }  }      "
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Retrieve Registration1
        x-testDescription: |-
          The response is the registration represented by a JSON object as described at the beginning of this
          section.
          Response:
          * Successful operation uses 200 OK
          * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
            more details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
      - Registrations
      summary: Delete Registration
      description: |-
        Cancels a context provider registration.
        Response:
        * Successful operation uses 204 No Content
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Delete Registration
      parameters:
      - name: registrationId
        in: path
        description: registration Id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: ""
          content: {}
      x-unitTests:
      - request:
          method: DELETE
          uri: /v2/registrations/abcdef
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Delete Registration1
        x-testDescription: |-
          Cancels a context provider registration.
          Response:
          * Successful operation uses 204 No Content
          * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
            more details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    patch:
      tags:
      - Registrations
      summary: Update Registration
      description: |-
        Only the fields included in the request are updated in the registration.
        Response:
        * Successful operation uses 204 No Content
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Update Registration
      parameters:
      - name: registrationId
        in: path
        description: registration Id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRegistrationRequest'
        required: true
      responses:
        "204":
          description: ""
          content: {}
      x-unitTests:
      - request:
          method: PATCH
          uri: /v2/registrations/abcdef
          headers:
            Content-Type: application/json
          body: "{    \"expires\": \"2017-10-04T00:00:00\"}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Update Registration1
        x-testDescription: |-
          Only the fields included in the request are updated in the registration.
          Response:
          * Successful operation uses 204 No Content
          * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
            more details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-codegen-request-body-name: body
  /v2/op/update:
    post:
      tags:
      - Batch Operations
      summary: Update
      description: |-
        This operation allows to create, update and/or delete several entities in a single batch operation.
        The payload is an object with two properties:
        + `actionType`, to specify the kind of update action to do: either `append`, `appendStrict`, `update`,
          `delete`, or `replace`.
        + `entities`, an array of entities, each entity specified using the JSON entity representation format
          (described in the section "JSON Entity Representation").
        This operation is split in as many individual operations as entities in the `entities` vector, so
        the `actionType` is executed for each one of them. Depending on the `actionType`, a mapping with
        regular non-batch operations can be done:
        * `append`: maps to `POST /v2/entities` (if the entity does not already exist) or `POST /v2/entities/<id>/attrs`
          (if the entity already exists).
        * `appendStrict`: maps to `POST /v2/entities` (if the entity does not already exist) or
          `POST /v2/entities/<id>/attrs?options=append` (if the entity already exists).
        * `update`: maps to `PATCH /v2/entities/<id>/attrs`.
        * `delete`: maps to `DELETE /v2/entities/<id>/attrs/<attrName>` on every attribute included in the entity or
          to `DELETE /v2/entities/<id>` if no attribute were included in the entity.
        * `replace`: maps to `PUT /v2/entities/<id>/attrs`.
        Response:
        * Successful operation uses 204 No Content.
        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
          more details.
      operationId: Update
      parameters:
      - name: Content-Type
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: options
        in: query
        description: Options dictionary
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - keyValues
          x-enum-elements:
          - name: keyValues
            description: ""
        x-enum-elements:
        - name: keyValues
          description: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRequest'
        required: true
      responses:
        "204":
          description: ""
          content: {}
      x-unitTests:
      - request:
          method: POST
          uri: /v2/op/update
          headers:
            Content-Type: application/json
          body: "{  \"actionType\": \"append\",  \"entities\": [    {      \"type\"\
            : \"Room\",      \"id\": \"Bcn-Welt\",      \"temperature\": {       \
            \ \"value\": 21.7       },      \"humidity\": {        \"value\": 60 \
            \     }    },    {      \"type\": \"Room\",      \"id\": \"Mad_Aud\",\
            \      \"temperature\": {        \"value\": 22.9      },      \"humidity\"\
            : {        \"value\": 85      }    }  ]}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Update1
        x-testDescription: |-
          This operation allows to create, update and/or delete several entities in a single batch operation.
          The payload is an object with two properties:
          + `actionType`, to specify the kind of update action to do: either `append`, `appendStrict`, `update`,
            `delete`, or `replace`.
          + `entities`, an array of entities, each entity specified using the JSON entity representation format
            (described in the section "JSON Entity Representation").
          This operation is split in as many individual operations as entities in the `entities` vector, so
          the `actionType` is executed for each one of them. Depending on the `actionType`, a mapping with
          regular non-batch operations can be done:
          * `append`: maps to `POST /v2/entities` (if the entity does not already exist) or `POST /v2/entities/<id>/attrs`
            (if the entity already exists).
          * `appendStrict`: maps to `POST /v2/entities` (if the entity does not already exist) or
            `POST /v2/entities/<id>/attrs?options=append` (if the entity already exists).
          * `update`: maps to `PATCH /v2/entities/<id>/attrs`.
          * `delete`: maps to `DELETE /v2/entities/<id>/attrs/<attrName>` on every attribute included in the entity or
            to `DELETE /v2/entities/<id>` if no attribute were included in the entity.
          * `replace`: maps to `PUT /v2/entities/<id>/attrs`.
          Response:
          * Successful operation uses 204 No Content.
          * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for
            more details.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-codegen-request-body-name: body
  /v2/op/query:
    post:
      tags:
      - Batch Operations
      summary: Query
      description: "The response payload is an Array containing one object per matching\
        \ entity, or an empty array `[]` if \nno entities are found. The entities\
        \ follow the JSON entity representation format\n(described in the section\
        \ \"JSON Entity Representation\").\nThe payload may contain the following\
        \ elements (all of them optional):\n+ `entities`: a list of entites to search\
        \ for. Each element is represented by a JSON object with the\n  following\
        \ elements:\n    + `id` or `idPattern`: Id or pattern of the affected entities.\
        \ Both cannot be used at the same\n      time, but one of them must be present.\n\
        \    + `type` or `typePattern`: Type or type pattern of the entities to search\
        \ for. Both cannot be used at\n      the same time. If omitted, it means \"\
        any entity type\".\n+ `attrs`: List of attributes to be provided (if not specified,\
        \ all attributes).\n+ `expression`: an expression composed of `q`, `mq`, `georel`,\
        \ `geometry` and `coords` (see \"List\n   entities\" operation above about\
        \ this field).\n+ `metadata`: a list of metadata names to include in the response.\n\
        \   See \"Filtering out attributes and metadata\" section for more detail.\n\
        Response code:\n* Successful operation uses 200 OK\n* Errors use a non-2xx\
        \ and (optionally) an error payload. See subsection on \"Error Responses\"\
        \ for\n  more details."
      operationId: Query
      parameters:
      - name: Content-Type
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limit the number of entities to be retrieved.
        required: false
        style: form
        explode: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          format: double
      - name: offset
        in: query
        description: Skip a number of records.
        required: false
        style: form
        explode: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          format: double
      - name: orderBy
        in: query
        description: |-
          Criteria for ordering results.
          See "Ordering Results" section for details.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: options
        in: query
        description: Options dictionary
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - count
          - keyValues
          - values
          - unique
          x-enum-elements:
          - name: count
            description: ""
          - name: keyValues
            description: ""
          - name: values
            description: ""
          - name: unique
            description: ""
        x-enum-elements:
        - name: count
          description: ""
        - name: keyValues
          description: ""
        - name: values
          description: ""
        - name: unique
          description: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QueryResponse'
                x-content-type: application/json
              example:
              - type: Room
                id: DC_S1-D41
                temperature:
                  value: 35.6
                  type: Number
              - type: Room
                id: Boe-Idearium
                temperature:
                  value: 22.5
                  type: Number
              - type: Car
                id: P-9873-K
                temperature:
                  value: 40
                  type: Number
                  accuracy: 2
                  timestamp:
                    value: 2015-06-04T07:20:27.378Z
                    type: DateTime
      x-unitTests:
      - request:
          method: POST
          uri: "/v2/op/query?limit=10&offset=20&orderBy=temperature,!speed"
          headers:
            Content-Type: application/json
          body: "{  \"entities\": [    {      \"idPattern\": \".*\",      \"type\"\
            : \"Room\"    },    {      \"id\": \"Car\",      \"type\": \"P-9873-K\"\
            \    }  ],  \"attrs\": [    \"temperature\",    \"humidity\"  ],  \"expression\"\
            : {     \"q\": \"temperature>20\"  },  \"metadata\": [    \"accuracy\"\
            ,    \"timestamp\"  ]}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers:
            Content-Type: application/json
          body: "[  {    \"type\": \"Room\",    \"id\": \"DC_S1-D41\",    \"temperature\"\
            : {      \"value\": 35.6,      \"type\": \"Number\"    }  },  {    \"\
            type\": \"Room\",    \"id\": \"Boe-Idearium\",    \"temperature\": { \
            \     \"value\": 22.5,      \"type\": \"Number\"    }  },  {    \"type\"\
            : \"Car\",    \"id\": \"P-9873-K\",    \"temperature\": {      \"value\"\
            : 40,      \"type\": \"Number\",      \"accuracy\": 2,      \"timestamp\"\
            : {        \"value\": \"2015-06-04T07:20:27.378Z\",        \"type\": \"\
            DateTime\"      }    }  }]"
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Query1
        x-testDescription: "The response payload is an Array containing one object\
          \ per matching entity, or an empty array `[]` if \nno entities are found.\
          \ The entities follow the JSON entity representation format\n(described\
          \ in the section \"JSON Entity Representation\").\nThe payload may contain\
          \ the following elements (all of them optional):\n+ `entities`: a list of\
          \ entites to search for. Each element is represented by a JSON object with\
          \ the\n  following elements:\n    + `id` or `idPattern`: Id or pattern of\
          \ the affected entities. Both cannot be used at the same\n      time, but\
          \ one of them must be present.\n    + `type` or `typePattern`: Type or type\
          \ pattern of the entities to search for. Both cannot be used at\n      the\
          \ same time. If omitted, it means \"any entity type\".\n+ `attrs`: List\
          \ of attributes to be provided (if not specified, all attributes).\n+ `expression`:\
          \ an expression composed of `q`, `mq`, `georel`, `geometry` and `coords`\
          \ (see \"List\n   entities\" operation above about this field).\n+ `metadata`:\
          \ a list of metadata names to include in the response.\n   See \"Filtering\
          \ out attributes and metadata\" section for more detail.\nResponse code:\n\
          * Successful operation uses 200 OK\n* Errors use a non-2xx and (optionally)\
          \ an error payload. See subsection on \"Error Responses\" for\n  more details."
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-codegen-request-body-name: body
  /v2/op/notify:
    post:
      tags:
      - Batch Operations
      summary: Notify
      description: "This operation is intended to consume a notification payload so\
        \ that all the entity data included by such notification is persisted, overwriting\
        \ if necessary.\nThis operation is useful when one NGSIv2 endpoint is subscribed\
        \ to another NGSIv2 endpoint (federation scenarios). \nThe request payload\
        \ must be an NGSIv2 notification payload. \nThe behaviour must be exactly\
        \ the same as `POST /v2/op/update` with `actionType` equal to `append`.\n\
        Response code:\n* Successful operation uses 200 OK\n* Errors use a non-2xx\
        \ and (optionally) an error payload. See subsection on \"Error Responses\"\
        \ for\n  more details."
      operationId: Notify
      parameters:
      - name: Content-Type
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: options
        in: query
        description: Options dictionary
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - keyValues
          x-enum-elements:
          - name: keyValues
            description: ""
        x-enum-elements:
        - name: keyValues
          description: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyRequest'
        required: true
      responses:
        "200":
          description: ""
          content: {}
      x-unitTests:
      - request:
          method: POST
          uri: /v2/op/notify
          headers:
            Content-Type: application/json
          body: "{  \"subscriptionId\": \"5aeb0ee97d4ef10a12a0262f\",  \"data\": [{\
            \    \"type\": \"Room\",    \"id\": \"DC_S1-D41\",    \"temperature\"\
            : {      \"value\": 35.6,      \"type\": \"Number\"    }  },  {    \"\
            type\": \"Room\",    \"id\": \"Boe-Idearium\",    \"temperature\": { \
            \     \"value\": 22.5,      \"type\": \"Number\"    }  }]}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
[...]
